.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(139, 118, 160);
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 480px;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 2px 16px rgba(255, 255, 255, 0.705);
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.title-box h1 {
    font-size: 3em;
}

.first-title {
    color: rgb(110, 110, 110);
}

.second-title {
    color: rgb(0, 0, 58);
}

.email-box {

}

.password-box {

}

.buttons-box {
    
}